$cool-red     : #0000ff;
$blue         : #0088ff;
$red          : #ff0000;
$font-family  : 'Open Sans', Helevetica, Arial, sans-serif;
$button-border: #00ff00;
$button-width : 300px;
$yellow       : #d0d000;